



body

.Café-Starbuzz {
    text-align: center;
}
.mistura-casa {
    text-indent: 50px;
    font-size: 20px;
}
.Café-arabico {
    text-indent: 50px;
    font-size: 20px;
}
.cappucino {
    text-indent: 50px;
    font-size: 20px;
}
.Chá-Chai {
    text-indent: 50px;
    font-size: 20px;
}