



body

.Café-Starbuzz {
    text-align: center;
 }
.mistura-casa {
    text-indent: 50px;
}
.Café-arabico {
    text-indent: 50px;
}
.cappucino {
    text-indent: 50px;
}
.Chá-Chai {
    text-indent: 50px;
}